body {
    background-color: black;
    color: yellow;
    font-style: italic;
    text-align: center;
}
h1 {
    color: yellow;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
p {
    font-size: 30px;
}
form { 
    color: green;
}
.button { 
    background-color: red;
    padding: 20px 40px;
    font-size: 25px;
}